
.vegetables__title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #191D28;
}
.vegetables-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    
}

.vegetables-wrap__wrapper{
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    width: 30%;
    margin-top: 30px;
    
}

.wrapper-image{
    width: 100%;
    object-fit: contain;
    border: 2px solid #76A713;
    border-bottom: none; 
    
}
.vegetables-wrap__wrapper:nth-child(1){
    background: #FFFFFF;
    box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}
.vegetables-wrap__wrapper:nth-child(2){
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url(/images/offer.png);
        background-repeat: no-repeat;
        width: 60px;
        height: 25px;
        top: 15px;
    }
}

.vegetables-wrap__wrapper__image{
    height: 230px;
    
}

.vegetables-wrap__wrapper__block{
    background-color: #F8F8F8;
    
}

.vegetables-wrap__wrapper__title{
    text-align: center;
    padding-top: 20px;
}

.strike{
    color:#AAAAAA;;
}
.vegetables-wrap__wrapper__image{
    display: flex;
    margin: 0 auto;
}

.vegetables__button{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20px;
    right: 20px;
}
.vegetables-wrap__wrapper__description{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #76A713;
}

.button-star__vegetables{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    
}
.vegetables__btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 16px;
    border: none;
    background-color: #76A713;
    margin-left: 140px;
    margin-bottom: 30px;
}

.vegetables-button{
    display: flex;
    justify-content: center;

    margin-top: 30px;

}

.vegetables-button__left{
    background: #76A713;
    color: #000;
    width: 40px;
    height: 40px;
    border: none;
}


.vegetables-button__right{
    background-color: #FFFFFF;
    border: 1px solid #76A713;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    
    
}